<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.movie_website.mapper.UserMapper">

    <!--登录时候查找是否有此用户-->
    <select id="selectUser" resultType="pers.movie_website.pojo.User" parameterType="pers.movie_website.pojo.User">
        SELECT * from wx_user
    </select>
    <select id="selectCase" resultType="pers.movie_website.pojo.case_all" parameterType="pers.movie_website.pojo.case_all">
        SELECT * from case_all
    </select>
    <select id="selectCommodity" resultType="pers.movie_website.pojo.commodity" parameterType="pers.movie_website.pojo.commodity">
        SELECT * from commodity
    </select>
<!--    <select id="selectCommidity" resultType="pers.movie_website.pojo.commodity" parameterType="pers.movie_website.pojo.User">-->
<!--        SELECT * from commidity-->
<!--    </select>-->

<!--    &lt;!&ndash;注册时候查找是否有此用户&ndash;&gt;-->
<!--    <select id="existsUser" resultType="pers.movie_website.pojo.User" parameterType="pers.movie_website.pojo.User">-->
<!--        SELECT * from user_login where account_number = #{account_number}-->
<!--    </select>-->

<!--    &lt;!&ndash;插入用户信息&ndash;&gt;-->
<!--    <insert id="insertUser" parameterType="pers.movie_website.pojo.User">-->
<!--&lt;!&ndash;        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">&ndash;&gt;-->
<!--&lt;!&ndash;            select uuid()&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            这里是对于主键属性的id进行赋值 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </selectKey> &ndash;&gt;-->
<!--        insert into user_login (account_number,pass_word) values(#{account_number},#{pass_word})-->
<!--    </insert>-->

<!--    <insert id="inserMovie" parameterType="pers.movie_website.pojo.Movie">-->
<!--        insert into data_movie (name,movie_url,score,date,type,source) values(#{name},#{movie_url},#{score},#{date},#{type},#{source})-->
<!--    </insert>-->
<!--    &lt;!&ndash; 查询电影数量&ndash;&gt;-->
<!--    <select id="selectMovieNum"  resultType="int">-->
<!--        SELECT count(*) from data_movie-->
<!--    </select>-->


<!--    &lt;!&ndash;删除用户信息&ndash;&gt;-->
<!--    <delete id="deleteUser" parameterType="java.lang.Integer">-->
<!--        delete from user where id=#{id}-->
<!--    </delete>-->
<!--    &lt;!&ndash;更新用户信息&ndash;&gt;-->
<!--    <update id="updateUser" parameterType="com.mvc.User">-->
<!--        &lt;!&ndash; update user set name=#{name},password=#{password} where id=#{id} &ndash;&gt;-->
<!--        update user-->
<!--        <set>-->
<!--            <if test="username != null && username != ''">username=#{username},</if>-->
<!--            <if test="password != null && password != ''">password=#{password},</if>-->
<!--        </set>-->
<!--        where id= #{id}-->
<!--    </update>-->

</mapper>
